body{
    background-color: lightblue;
}


.brown{
    background: rgb(151, 105, 5);
    
}
.init{
    display: none;
}

.play-img{
    display: block;
    width: 200px;
    height: 200px;
    margin: 100px auto;
}
.header{
    height: 600px;
    background-image: url('Images/2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.header p{
    font-size: 100px;
    margin-top: 0;
    padding-top: 170px;
    text-align: center;
    font-family: 'Flavors';
    color: #FF7474;
}
.inicio{
    height: 100vh;
    background-image: url('Images/brick-wall.svg');
    background-size: cover;
}
.level-complete{
    display: none;
}

.complete{
    position: absolute;
    margin-top: 25vh;
    margin-left: 28vw;
}

.complete p{
    display: block;
    position: absolute;
    text-align: center;
    margin-left: 200px;
    font-size: 80px;
    font-family: 'Flavors';
    color: #FF7474;
    top: 47px;
    left: 33px;
}

.not-yet{
    
    position: absolute;
    margin-top: 25vh;
    margin-left: 28vw;
}
.not-yet p{
    display: block;
    position: absolute;
    text-align: center;
    font-size: 80px;
    font-family: 'Flavors';
    color: #FF7474;
    top: -12px;
    left: 100px;
}

.lost{
    position: absolute;
    margin-top: 25vh;
    margin-left: 28vw;
}

.lost p{
    display: block;
    position: absolute;
    text-align: center;
    font-size: 80px;
    font-family: 'Flavors';
    color: #FF7474;
    top: 50px;
    left: 200px;

}

#canvas {
    display: block;
    margin: 0 auto;
    
}